//====================================================================================================
.page {
    //.page__sale
    &__sale {
        margin-bottom: rem(42);
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(30);
        }
    }

    // .page__brand

    &__brand {
        margin-bottom: rem(30);
    }
    // .page__banners

    &__banners {
        margin-bottom: rem(30);
    }
    // .page__shop

    &__shop {
        margin-bottom: rem(30);
    }

    // .page__limist

    &__limist {
        margin-bottom: rem(30);
    }

    // .page__slider-products

    &__slider-products {
        margin-bottom: rem(30);
    }

    // .page__explore

    &__explore {
        margin-bottom: rem(82);
        @media (max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    // .page__blog

    &__blog {
    }
}
//========================================================================================================================================================

.sale {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // .sale__container

    &__container {
    }

    // .sale__inner

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(109);
        @media (max-width: 1200px) {
            gap: rem(50);
        }
        @media (max-width: $mobile) {
            gap: rem(20);
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
            padding: rem(15) rem(15) rem(40);
        }
    }

    // .sale__content

    &__content {
        flex: 0 1 rem(545);
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    // .sale__title

    &__title {
        font-weight: 600;
        font-size: rem(86);
        line-height: math.div(96, 86);
        text-transform: uppercase;
        padding: rem(21) rem(41) 0 0;
        position: relative;
        &:not(:last-child) {
            margin-bottom: rem(34);
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            height: rem(2);

            background-color: #000;
        }
        &::before {
            content: "";
            left: 0;
            width: 100%;
            top: 0;
        }
        &::after {
            content: "";
            transform: rotate(90deg);
            right: rem(-50);
            top: rem(50);
            width: rem(100);
        }
        @media (max-width: em(1550)) {
            font-size: rem(64);
            line-height: math.div(72, 64);
        }
        @media (max-width: em(1200)) {
            font-size: rem(52);
            line-height: math.div(64, 52);
        }
        @media (max-width: $tablet) {
            font-size: rem(42);
            line-height: math.div(52, 42);
            padding: rem(10) rem(20) 0 0;
            &::after {
                content: "";
                width: rem(50);
                right: rem(-24);
                top: rem(24);
            }
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(32);
            line-height: math.div(42, 32);
        }
    }

    // .sale__title-span

    &__title-span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: rem(1) #000;
    }

    // .sale__button

    &__button {
    }

    // .sale__slider

    &__slider {
        flex: 0 1 rem(800);
        @media (max-width: $mobile) {
            flex: 0 1 400px;
            display: flex;
            justify-content: center;
            min-height: 100%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 1 300px;
        }
    }

    // .sale__wrapper

    &__wrapper {
    }

    // .sale__slide

    &__slide {
        display: grid;
        align-self: center;
        opacity: 1;
        transition: all 0.5s;
        img {
            width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }

    // .sale__arrows

    &__arrows {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    //.sale__arrows-button

    &__arrows-button {
        background-color: #000;
        padding: rem(23) rem(23);
        border: rem(2) solid #000;
        position: relative;
        transition: all 0.5s;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: transparent;
                svg {
                    path {
                        stroke: #000;
                    }
                }
            }
        }
        @media (max-width: 850px) {
            padding: rem(15);
        }
    }

    // .sale__arrows-prew

    &__arrows-prew {
    }

    // .sale__arrows-next

    &__arrows-next {
    }

    //.sale__pagination

    &__pagination {
        position: absolute;
        left: rem(15);
        bottom: rem(15);
        z-index: 10;
        gap: 8px;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
    }
}

//========================================================================================================================================================

.brand {
    // .brand__container

    &__container {
    }

    // .brand__inner

    &__inner {
        position: relative;
        border: 2px solid #c4c4c4;
        z-index: 1;
        @media (max-width: $mobileSmall) {
            border: none;
        }
    }

    // .brand__title

    &__title {
        position: absolute;
        left: 50%;
        top: rem(-21);
        padding: 0 rem(95);
        transform: translateX(-50%);
        font-size: rem(24);
        line-height: math.div(32, 24);
        z-index: 2;
        text-transform: uppercase;
        background-color: #fff;
        white-space: nowrap;
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }

    // .brand__list

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(139), 1fr));
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        padding: rem(30) rem(10);
        @media (max-width: $mobileSmall) {
            padding: 0;
        }
    }

    // .brand__item

    &__item {
        display: flex;
    }

    // .brand__link

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 100%;
        min-height: rem(141);
        background-color: transparent;
        transition: all 0.5s;
        svg {
            max-width: 100%;
            object-fit: contain;
            @media (max-width: $mobileSmall) {
                width: 30%;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #c4c4c4;
            }
        }
        @media (max-width: $mobileSmall) {
            border: 2px solid #c4c4c4;
            padding: rem(5);
            min-height: rem(55);
        }
    }
}

//====================================================================================================

.banners {
    // .banners__container

    &__container {
    }

    // .banners__inner

    &__inner {
        display: grid;
        gap: rem(30);
        grid-template-rows: repeat(2, 434px);
        grid-template-columns: 1fr 1fr;
        @media (max-width: em(1500)) {
            grid-template-rows: repeat(2, 290px);
        }
        @media (max-width: $tablet) {
            grid-template-rows: repeat(2, 150px);
            gap: rem(14);
        }
        @media (max-width: $mobile) {
            grid-template-rows: repeat(2, 137px);
        }
        @media (max-width: em(700)) {
            grid-template-columns: 1fr;
        }
    }

    // .banners__item

    &__item {
        padding: rem(85);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        @media (max-width: em(1500)) {
            padding: rem(30);
        }
        @media (max-width: $tablet) {
            padding: rem(15);
        }
    }

    // .banners__look

    &__look {
        background-color: #f3f0ef;
        background-image: url("@img/sale/banner-1.jpg");
        background-position: lefr;
        justify-content: flex-end;
    }
    // .banners__sale
    &__sale {
        background-color: #e0ddd5;
        grid-row: span 2;
        background-image: url("@img/sale/banner-2.jpg");
        background-position: right bottom;
        align-items: flex-end;

        & .banners__title {
            font-size: rem(96);
            line-height: math.div(110, 96);
            color: #131313;
            max-width: rem(357);
            @media (max-width: em(1650)) {
                font-size: rem(72);
                line-height: math.div(82, 72);
            }
            @media (max-width: em(1200)) {
                font-size: rem(52);
                line-height: math.div(62, 52);
            }
            @media (max-width: $tablet) {
                font-size: rem(32);
                line-height: math.div(42, 32);
            }
            @media (max-width: $mobileSmall) {
                font-size: rem(26);
                line-height: math.div(32, 26);
                max-width: rem(97);
            }
        }
    }
    // .banners__style
    &__style {
        background-color: #f3dcd2;
        background-image: url("@img/sale/banner-3.jpg");
        background-position: right;
    }
    // .banners__content

    &__content {
    }
    // .banners__title

    &__title {
        font-weight: 600;
        font-size: rem(48);
        line-height: math.div(62, 48);
        text-transform: uppercase;
        margin-bottom: rem(7);
        @media (max-width: em(1650)) {
            font-size: rem(32);
            line-height: math.div(42, 32);
        }
        @media (max-width: em(1200)) {
            font-size: rem(22);
            line-height: math.div(32, 22);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(16);
            line-height: math.div(22, 16);
        }
    }

    // .banners__text

    &__text {
        font-family: "Roboto";
        font-weight: 300;
        font-size: rem(22);
        line-height: math.div(37, 22);
        letter-spacing: 0.01em;
        &:not(:last-child) {
            margin-bottom: rem(50);
        }
        @media (max-width: em(1650)) {
            font-size: rem(18);
            line-height: math.div(22, 18);
        }
        @media (max-width: em(1200)) {
            font-size: rem(14);
            line-height: math.div(18, 14);
        }
        @media (max-width: $tablet) {
            &:not(:last-child) {
                margin-bottom: rem(15);
            }
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(10);
            line-height: math.div(14, 10);
        }
    }

    // .banners__button

    &__button {
        @media (max-width: $tablet) {
            font-size: rem(10);
            line-height: math.div(15, 10);
            padding: rem(8) rem(17);
        }
    }
}

//========================================================================================================================================================

.shop {
    // .shop__container

    &__container {
    }

    // .shop__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem(30);

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    // .shop__aside

    &__aside {
        flex: 0 1 rem(364);
        display: grid;
        grid-template-columns: 100%;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
    }

    // .shop__content

    &__content {
        flex: 1 1 rem(1454);
        padding-left: 30px;
        border-left: 1px solid #c4c4c4;
        @media (max-width: $tablet) {
            flex: 1 1 100%;
            padding-left: 0;
            border-left: none;
        }
    }

    // .shop__wrapper

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
        gap: rem(26);
        margin-bottom: rem(30);

        @media (max-width: em(1500)) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        @media (max-width: $tablet) {
            gap: rem(14);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
        }

        @media (min-width: $mobileSmall) {
            margin-bottom: rem(60);
        }
    }

    // .shop__product

    &__product {
    }

    // .shop__button-wrapper

    &__button-wrapper {
        display: flex;
        justify-content: center;
    }
    // .shop__link

    &__link {
    }
}
.shop-aside {
    // .shop-aside__title

    &__title {
        font-size: rem(24);
        line-height: math.div(32, 24);
        margin-bottom: rem(30);
        @media (max-width: $tablet) {
            margin-bottom: rem(14);
        }
    }

    // .shop-aside__list

    &__list {
        font-family: "Roboto";
        font-size: rem(14);
        line-height: math.div(21, 14);
        @media (max-width: $tablet) {
            display: flex;
            gap: rem(14);
            flex-wrap: wrap;
        }

        @media (max-width: $mobileSmall) {
            font-size: rem(12);
            line-height: math.div(18, 12);
        }
    }

    // .shop-aside__item

    &__item {
        &.shop-aside__item {
            margin-top: rem(20);
        }
        @media (max-width: $tablet) {
            &.shop-aside__item {
                margin-top: 0;
            }
        }
    }
}

//========================================================================================================================================================

.limits {
    background: linear-gradient(90deg, #ddebf1 0%, #d3e5ee 42.71%, #c8deec 69.27%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    @media (max-width: em(400)) {
        background-position: 0;
    }
    // .limits__container

    &__container {
    }

    // .limits__content

    &__content {
        max-width: 40%;
        width: 100%;
        padding: rem(77) rem(20) rem(78) 0;
        @media (max-width: $tablet) {
            padding: rem(15) 0;
        }
        @media (max-width: em(400)) {
            max-width: 60%;
        }
    }
}

//========================================================================================================================================================

.slider-products {
    // .slider-products__container

    &__container {
    }

    // .slider-products__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(30);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        @media (max-width: $mobileSmall) {
            &:not(:last-child) {
                margin-bottom: rem(14);
            }
        }
    }

    // .slider-products__title

    &__title {
        font-size: rem(24);
        line-height: math.div(32, 24);
        @media (max-width: $mobileSmall) {
            font-size: rem(18);
            line-height: math.div(22, 18);
        }
    }

    // .slider-products__arrows

    &__arrows {
        display: flex;
        gap: rem(4);
        align-items: center;
    }

    // .slider-products__arrow

    &__arrow {
        border: rem(2) solid #c4c4c4;
        background-color: transparent;
        display: inline-flex;
        transition: all 0.5s;
        @media (any-hover: hover) {
            &:hover {
                border: rem(2) solid #000;
                svg {
                    path {
                        stroke: #000;
                    }
                }
            }
        }
    }

    // .slider-products__arrow-prev

    &__arrow-prew {
        padding: 15px 17px 15px 12px;
        @media (max-width: $mobileSmall) {
            padding: 10px 12px 10px 8px;
        }
    }

    // .slider-products__arrow-next

    &__arrow-next {
        padding: 15px 12px 15px 17px;
        @media (max-width: $mobileSmall) {
            padding: 10px 8px 10px 12px;
        }
    }

    // .slider-products__slider

    &__slider {
    }

    // .slider-products__wrapper

    &__wrapper {
    }

    // .slider-products__slide

    &__slide {
        display: flex;
    }
}

//========================================================================================================================================================

.popular__arrow__arrows {
    display: flex;
    gap: rem(4);
    align-items: center;
}
// .popular__arrow-prev

.popular__arrow-prew {
    padding: 15px 17px 15px 12px;
    border: rem(2) solid #c4c4c4;
    background-color: transparent;
    display: inline-flex;
    transition: all 0.5s;
    @media (any-hover: hover) {
        &:hover {
            border: rem(2) solid #000;
            svg {
                path {
                    stroke: #000;
                }
            }
        }
    }
    @media (max-width: $mobileSmall) {
        padding: 10px 12px 10px 8px;
    }
}

// ..popular__arrow-next

.popular__arrow-next {
    padding: 15px 12px 15px 17px;
    border: rem(2) solid #c4c4c4;
    background-color: transparent;
    display: inline-flex;
    transition: all 0.5s;
    @media (any-hover: hover) {
        &:hover {
            border: rem(2) solid #000;
            svg {
                path {
                    stroke: #000;
                }
            }
        }
    }
    @media (max-width: $mobileSmall) {
        padding: 10px 8px 10px 12px;
    }
}

//========================================================================================================================================================

.explore {
    // .explore__container

    &__container {
    }

    // .explore__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem(30);
        @media (max-width: $mobile) {
            flex-wrap: wrap-reverse;
            gap: rem(14);
        }
    }

    // .explore__wrapper

    &__wrapper {
        flex: 0 1 rem(1060);
        position: relative;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }

    // .explore__image

    &__image {
        max-width: 100%;
        object-fit: cover;
    }

    // .explore__content

    &__content {
        flex: 0 1 rem(650);
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
    }
}

//========================================================================================================================================================

.blog {
    background-color: #f8f9fb;

    // .blog__container

    &__container {
    }

    // .blog__inner

    &__inner {
        padding: rem(46) 0;
        @media (max-width: $mobile) {
            padding: rem(30) 0;
        }
    }

    // .blog__title

    &__title {
        font-size: rem(24);
        line-height: math.div(32, 24);
        margin-bottom: rem(30);
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(18);
            line-height: math.div(22, 18);
            &:not(:last-child) {
                margin-bottom: rem(14);
            }
        }
    }

    // .blog__content

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(447px, 1fr));
        gap: rem(30);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        @media (max-width: $mobile) {
            gap: rem(14);
        }
    }

    // .blog__item

    &__item {
    }
}
.blog-item {
    padding: rem(24);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    @media (max-width: $mobile) {
        padding: rem(12);
    }
    // .blog-item__top

    &__top {
        &:not(:last-child) {
            margin-bottom: rem(30);
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(14);
            }
        }
    }

    // .blog-item__category

    &__category {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        display: inline-block;
        text-transform: uppercase;
        color: #bdbdbd;
        transition: color 0.5s;
        &:not(:last-child) {
            margin-bottom: rem(21);
        }

        @media (any-hover: hover) {
            &:hover {
                color: #000;
            }
        }
        @media (max-width: $mobile) {
            font-size: rem(14);
            line-height: math.div(18, 14);
            &:not(:last-child) {
                margin-bottom: rem(14);
            }
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(10);
            line-height: math.div(14, 10);
            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }
    }

    // .blog-item__title

    &__title {
        font-size: rem(26);
        line-height: math.div(39, 26);
        color: #000000;
        @media (max-width: $mobile) {
            font-size: rem(22);
            line-height: math.div(26, 22);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(14);
            line-height: math.div(18, 14);
        }
    }

    // .blog-item__content

    &__content {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 3px solid #000000;
        padding-bottom: rem(10);
    }

    // .blog-item__text

    &__text {
        font-weight: 300;
        font-family: "Roboto";
        font-size: rem(16);
        line-height: math.div(26, 16);
        letter-spacing: 0.01em;
        @media (max-width: $mobile) {
            font-size: rem(14);
            line-height: math.div(18, 14);
        }
        @media (max-width: $mobileSmall) {
            font-size: rem(10);
            line-height: math.div(14, 10);
        }
    }

    // .blog-item__bottom

    &__bottom {
        padding: rem(10) 0;
        @media (max-width: $mobileSmall) {
            padding: rem(5) 0;
        }
    }

    // .blog-item__time

    &__time {
        font-weight: 300;
        font-size: rem(13);
        line-height: math.div(17, 13);
        color: #4f4f4f;
        @media (max-width:$mobileSmall){
            font-size: rem(10);
            line-height: math.div(14, 10);   
        }
    }
}

//========================================================================================================================================================
